<HTML>
	 <HEAD>
	 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	  </HEAD>
	  <BODY bgcolor='#f4f8fc'>
	  <table width='100%' border='0' height='100%' cellpadding='0' cellspacing='0'><tr>
	    <td align='center' valign='top'><table width='100%' border='0' cellpadding='0' cellspacing='0'><tr>
		<td height='100' align='right' valign='top'>
		<img src="http://creationadv.gr/ihotelweb/images/photos/{tmpIcon}" width='183' height='47' 
		style='margin-right:10px; margin-top:10px'/>
		<font face='Trebuchet MS, Arial, Helvetica, sans-serif' style='margin-right:20px;font-size:12px'><br>{title}</font>
		<br><font face='Trebuchet MS, Arial, Helvetica, sans-serif' 
		style='margin-right:20px;font-size:12px'>Support Tel: {phonenumber}</font></td>
		</tr>
		<tr><td align='left' valign='bottom'> Dear Madam/Sir&nbsp; {lastname},
		<font face='Trebuchet MS, Arial, Helvetica, sans-serif' style='font-size:13px'>  <br> 
		<br/> Your passbook card {serialnumber} is ready for use. Select in your phone the link.<br/> 
		     <a href='http://creationadv.gr/ihotelweb/vadmin/passbook/genpassbook.php?{passlink}' >
			 <img src='http://creationadv.gr/ihotelweb/vadmin/images/passbook.png' alt="Passbook Link" > </a>
         </font></td></tr>
		 
		</td></tr>
		<tr><td align='left' valign='bottom'>
		<font face='Trebuchet MS, Arial, Helvetica, sans-serif' style='font-size:13px'>    <br> 
		<br/> You can now enjoy the guests privileges and explore the unique functions of the application our Hotel
		<br><br>
		{title}
		<br>
		{htlemail} </font></td></tr>
		</table>
		</td></tr></table>
	   </BODY>
	
	</HTML>
	 
	